body {
    background-color: chocolate;
    display: flex;
    padding-top: 1rem;
    justify-content: center;

}

.wisdom {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
}

